<li class="shop-items__item {% for type in entry.mediaType.all() %} {{ type.slug }} {% endfor %}">
{% if entry.featureImage | length %}
  {% for asset in entry.featureImage.all() %}
    <a class="shop-items__image" href="{{ entry.url }}">
      <img src="{{ asset.url('shopImage') }}" alt="{{ asset.title }}"/>
    </a>
  {% endfor %}
{% endif %}
<div class="shop-items__info">
  <div class="shop-items__mediaType">
    {% for type in entry.mediaType.all() %}
      {{ type.title }}
    {% endfor %}
  </div>
  <a class="shop-items__info__title" href="{{ entry.url }}">{{ entry.title }}</a>
  <div class="shop-items__body">
    {% include 'globals/teaserText.html' %}
  </div>


  <div class="shop-item__amount">
    {% if entry.paymentButton | length %}
      {% set mypaypal = entry.paymentButton.one() %}
      {% set buttonName = mypaypal.sku %}
      {# if there are priced variants display them #}
      {% set button = craft.paypalButton.getButton(buttonName) %}
      {% if mypaypal.enupalPaypalPricedVariants.first() %}
        {# GETTING VARIANTS #}
          {% set pricedOptionsBlock = button.enupalPaypalPricedVariants.first() %}

          {% for row in pricedOptionsBlock.options %}
              ${{row.price}} ({{ row.optionLabel|t }})<br>
          {% endfor %}
        {# End priced variants #}
      {% else %}
      ${{ mypaypal.amount|number_format(2, '.', ',') }}
      {% endif %}


    {% endif %}
  </div>

  <div class="parent-button">
    <a class="button-link" href="{{entry.url}}">Item Details</a>
      {% if entry.paymentButton | length %}
        {% set paypal = entry.paymentButton.one() %}
        {# DISPLAY PAYPAL BUTTON #}
        {% if mypaypal.enupalPaypalPricedVariants.first() %}
        <div class="varient-button">
        {% endif %}
        {{ paypal.displayButton() }}
        {% if mypaypal.enupalPaypalPricedVariants.first() %}
        </div>
        {% endif %}
      {% endif %}
  </div>
</div>
</li>
