<li class="shop-items__item {% for type in entry.mediaType.all() %} {{ type.slug }} {% endfor %}">
{% if entry.featureImage | length %}
  {% for asset in entry.featureImage.all() %}
    <a class="shop-items__image" href="{{ entry.url }}">
      <img src="{{ asset.url('shopImage') }}" alt="{{ asset.title }}"/>
    </a>
  {% endfor %}
{% endif %}
<div class="shop-items__info">
  <div class="shop-items__mediaType">
    {% for type in entry.mediaType.all() %}
      {{ type.title }}
    {% endfor %}
  </div>
  <a class="shop-items__info__title" href="{{ entry.url }}">{{ entry.title }}</a>
  <div class="shop-items__body">
    {% include 'globals/teaserText.html' %}
  </div>


  <div class="shop-item__amount">
    {% if entry.paymentButton | length %}
      {% set mypaypal = entry.paymentButton.one() %}
      ${{ mypaypal.amount|number_format(2, '.', ',') }}
    {% endif %}
  </div>


  <h1>==========</h1>


  {% if button.enupalPaypalBasicVariants is defined %}
  {% for basicOptionsBlock in button.enupalPaypalBasicVariants %}
      <input type="hidden" name="on{{ loop.index }}" value="{{ basicOptionsBlock.variantName }}">
      <div class="form-group">
          <label class="basicVariantsLabel" for="os{{ loop.index }}">{{ basicOptionsBlock.variantName }}</label>
          <select class="form-control basicVariants" name="os{{ loop.index }}" id="os{{ loop.index }}">
              {% for row in basicOptionsBlock.options %}
                  {% if loop.first %}
                      <option value="">{{ "Select a"|t }} {{ basicOptionsBlock.variantName }}</option>
                  {% endif %}
                  <option value="{{ row.handle }}">{{ row.optionLabel|t }}</option>
              {% endfor %}
          </select>
      </div>
      <br>
  {% endfor %}
  {% endif %}


  <h1>==========</h1>

  <div class="parent-button">
    <a class="button-link" href="{{entry.url}}">Item Details</a>
      {% if entry.paymentButton | length %}
        {% set paypal = entry.paymentButton.one() %}
        {# DISPLAY PAYPAL BUTTON #}
        {{ paypal.displayButton() }}
      {% endif %}
  </div>
</div>
</li>
